
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>姓名:劉宜芳</p>
<p>學號:410728028</p>
<p>喜歡的水果</p>
@{ 
    String[] fruit = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
    }

<ol>
    @foreach (var item in fruit) { 
        <li>@item</li>
    }
</ol>